.circular-slider {
    position: relative;
    clip-path: circle(50%);
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circular-slider--transitioning .nipple-container {
    transition: transform 0.2s ease;
}

.circular-slider--transitioning .nipple {
    transition: transform 0.2s ease;
}

.circular-slider--transitioning #slider-highlight {
    transition: stroke-dashoffset 0.2s ease;
}

#slider {
    width: 100%;
    height: 100%;
    transform: rotate(-90deg);
    pointer-events: stroke;
    padding: 3px;
}

#slider-background {
    stroke-width: 22px;
    stroke-dasharray: 7, 1.8;
    fill: none;
    stroke: #00000012;
}

#slider-click-area {
    stroke-width: 22px;
    fill: none;
    stroke: transparent;
}

#slider-highlight {
    stroke-width: 22px;
    stroke-dasharray: 100 100;
    fill: none;
    stroke: #755496;
    stroke-dashoffset: 37;
}

.nipple-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 0;
    position: absolute;
    z-index: 1;
}

.nipple {
    width: 28px;
    background: #fff;
    height: 28px;
    border: solid 1px #dadada;
    clip-path: circle(50%);
    border-radius: 50%;
    box-shadow: -14px 0px 16px -11px #a9a9a99c inset, 1px 1px 15px 0 #00000012;
    box-sizing: border-box;
    outline: none;
}
