body {
    display: flex;
}

/* Make this visible to compare the slider to the example */
.template {
    position: absolute;
    top: 18px;
    left: 59.3px;
    z-index: 10;
    width: 651px;
    opacity: 0.5;
    display: none;
}

